
<div class="card" >
    <img class="card-img-top" src="assets/images/img1.png" alt="welcome page">
    <div class="card-body">
      <p class="card-text">welcome in our website</p>
    </div>
  </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
     Nam consequatur cumque excepturi ex maiores ullam!
      Unde magnam earum sint quas ab officia eos, 
      id dignissimos dolores error temporibus blanditiis. Dolorum.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Nam consequatur cumque excepturi ex maiores ullam!
       Unde magnam earum sint quas ab officia eos, 
       id dignissimos dolores error temporibus blanditiis. Dolorum.</p>
